{% extends "base.html" %}
{% block content %} 
  <h2>{{ page_title }}</h2>
  <p>
    Predator-prey interactions and top-down ecological control are widely documented across marine systems, but little is known on interactions between large-apex marine predators. The declining and vulnerable Great White Shark (Carcharodon Carcharias) population is a highly notorious species that is both desired and feared, and is often seen as the ultimate apex predator. A recent research paper suggests that they may have a formidable foe to be feared too - the Killer whale. This has potential consequences for its conservation.
  </p>
<div class="row featurette">
  <div class="col-md-7">
    <h3>Great White Shark</h3>
    <p>
      The great white shark (Carcharodon carcharias), also known as the great white, white shark or "white pointer", is a species of large mackerel shark which can be found in the coastal surface waters of all the major oceans. It is notable for its size, with larger female individuals growing to 6.1 m (20 ft) in length and 1,905–2,268 kg (4,200–5,000 lb) in weight at maturity. However, most are smaller; males measure 3.4 to 4.0 m (11 to 13 ft), and females measure 4.6 to 4.9 m (15 to 16 ft) on average. According to a 2014 study, the lifespan of great white sharks is estimated to be as long as 70 years or more, well above previous estimates, making it one of the longest lived cartilaginous fishes currently known. According to the same study, male great white sharks take 26 years to reach sexual maturity, while the females take 33 years to be ready to produce offspring. Great white sharks can swim at speeds of 25 km/hr (16 mph) for short bursts and to depths of 1,200 m (3,900 ft).

    </p>

  </div>
  <div class="col-md-5">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.w-cB6CKG2HPYMzhsNg__rgHaE8%26pid%3DApi&f=1">
  </div>
</div> 
<div class="row featurette">
  <div class="col-md-5">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ttS-WKBcQ4-npWjpvm3mLgHaD4%26pid%3DApi&f=1">
  </div>
  <div class="col-md-7">
    <h3>Orca Killer Whale</h3>
    <p>
      The killer whale or orca (Orcinus orca) is a toothed whale belonging to the oceanic dolphin family, of which it is the largest member. Killer whales have a diverse diet, although individual populations often specialize in particular types of prey. Some feed exclusively on fish, while others hunt marine mammals such as seals and other species of dolphin. They have been known to attack baleen whale calves, and even adult whales. Killer whales are apex predators, as no animal preys on them. A cosmopolitan species, they can be found in each of the world's oceans in a variety of marine environments, from Arctic and Antarctic regions to tropical seas, absent only from the Baltic and Black seas, and some areas of the Arctic Ocean.
      Killer whales are the largest extant members of the dolphin family. Males typically range from 6 to 8 metres (20 to 26 ft) long and weigh in excess of 6 tonnes (5.9 long tons; 6.6 short tons). Females are smaller, generally ranging from 5 to 7 m (16 to 23 ft) and weighing about 3 to 4 tonnes (3.0 to 3.9 long tons; 3.3 to 4.4 short tons). Calves at birth weigh about 180 kg (400 lb) and are about 2.4 m (7.9 ft) long. The skeleton of the killer whale is of the typical delphinid structure, but more robust. Its integument, unlike that of most other dolphin species, is characterized by a well-developed dermal layer with a dense network of fascicles of collagen fibres.

    </p>
  </div>
</div>
{% endblock %}
